{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    {{ block.super }}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div><hr>
<section class="blog-section ps-5 text-black">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h2 class="logo-font fixed">Garden Notes & Seasonal Tips</h2>
                <p class="lead">Explore our latest gardening tips and seasonal advice to help you cultivate a thriving garden.</p>
            </div>
            <hr>
            {% for post in posts %}
            <div class="d-flex justify-content-center col-lg-4 col-md-6 col-sm-12 mb-4">
                <article class="blog-post text-black mb-4">
                    <h2><a class="text-black" href="{% url 'blog:posts' slug=post.slug %}">{{ post.title }}</a></h2>
                    <p class="meta">By {{ post.author }} • {{ post.created_at|date:"F j, Y" }}</p>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-thumbnail w-50">
                    {% endif %}
                    <p class="excerpt">{{ post.content|truncatewords:40 }}</p>
                    <a class="read-more text-black col-4" href="{% url 'blog:posts' slug=post.slug %}">Read more →</a>
                </article>
            </div>
            {% empty %}
                <h3 class="text-center">No Blog Posts Available</h3>
                <p class="text-center">It seems we haven't published any blog posts yet. Stay tuned for updates!</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}