{% extends "base.html" %}
{% load static %}

{% block page_header %}
    {{ block.super }}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div><hr>
<h2>{{ post.title }}</h2>
<p class="date">Published: {{ post.publish }} by {{ post.author }}</p>
{{ post.body|linebreaksbr }}
{% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid mt-3">
{% endif %}
{% with comments.count as total_comments %}
    <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
{% endwith %}
{% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}
        </p>
        {{ comment.body|linebreaksbr }}
    </div>
{% empty %}
    <p>No comments yet.</p>
{% endfor %}
{% include "blog/includes/comment_form.html" %}
{% endblock %}