{% extends "account/base.html" %}

{% load i18n account socialaccount %}

{% block head_title %}
  {% trans "Sign In" %}
{% endblock %}

{% block inner_content %}
  <hr>
  <h2 class="logo-font mb-4">{% trans "Sign In" %}</h2>
  <hr>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
    <p>
      {% blocktrans with site.name as site_name %}
        Please sign in below or with Google.
        New here? Please <a href="{{ signup_url }}">register</a> for a Green Heaven account.
      {% endblocktrans %}
    </p>

    {% include "socialaccount/snippets/login_extra.html" %}
  {% endif %}

  <form class="login" method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="d-flex justify-content-between">
      <a class="btn btn-outline-black rounded-0" href="{% url 'home' %}">Home</a>
      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </div>
  </form>

  {% providers_media_js %}
  {% if socialaccount_providers %}
    <div class="social-login-buttons mt-3">
      {% for provider in socialaccount_providers %}
        <a class="btn btn-outline-secondary d-block mb-2" href="{% provider_login_url provider.id %}">
          Sign in or sign up with {{ provider.name }}
        </a>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
