{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container pb-5">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay pb-5"></div>
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <div style="width: 400px; height: 800px; overflow: hidden;">
                            <a href="{{ product.image.url }}" target="_blank">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        </div>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0 text-light bg-secondary p-2">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold p-2">£{{ product.price }}</p>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3"><strong>Description:</strong> {{ product.description }}</p>
                    <p class="mt-3"><strong>Care info:</strong></p>
                    <p class="mt-3 ps-3"><i>Light:</i> {{ product.care_info.light}}</p>
                    <p class="mt-3 ps-3"><i>Water:</i> {{ product.care_info.water}}</p>
                    <p class="mt-3 ps-3"><i>Temperature:</i> {{ product.care_info.temperature}}</p>
                    <p class="mt-3 ps-3"><i>Humidity:</i> {{ product.care_info.humidity}}</p>
                    <p class="mt-3"><strong>Size:</strong> {{ product.size}}</p>
                    <p class="mt-3"><strong>Delivery info:</strong> {{ product.delivery}}</p>
                    <p class="mt-3"><strong>Planting tips:</strong> {{ product.planting}}</p>
                    <p class="mt-3"><strong>Harvesting tips:</strong> {{ product.harvesting}}</p>
                    <p class="mt-3"><strong>Fertilizer:</strong> {{ product.fertilizer}}</p>
                    <p class="mt-3"><strong>Pests:</strong> {{ product.pests}}</p>
                    <p class="mt-3"><strong>Pruning:</strong> {{ product.pruning}}</p>
                    <p class="mt-3"><strong>Repotting:</strong> {{ product.repotting}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}